.bio-areaOuter {
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
}

.bio-area {
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
}

.bio-addResource {
  padding: 6px;
}

.bio-headerTransition {
  background-position-x: left;
  background-repeat: repeat-x;
  height: 40px;
}

.bio-header {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.bio-componentHeader {
  padding-top: 20px;
  font-size: 14pt;
  padding: 12px;
  padding-top: 40px;
  padding-bottom: 14px;
}

.bio-extraArea {
  margin-bottom: 5px;
}

.bio-commands {
  display: grid;
  padding: 3px;
  grid-template-columns: 200px 1fr;
}

.bio-toolBarArea {
  padding-bottom: 0px;
  height: 31px;
}

.bio-extraArea {
  grid-column: 2;
}

.bio-loading {
  padding: 6px;
}
