.wte-outer {
  padding: 8px;
  padding-top: 2px;
  width: 100%;
}

.wte-topZone .ui-dropdown__container {
  width: 160px !important;
}

.wte-topZone {
  margin: 4px;
  display: grid;
  grid-template-columns: 1fr 180px 180px 36px;
}

.wte-topWorld {
  grid-column: 1;
}

.wte-topArea {
  grid-column: 2;
}

.wte-topAdd {
  grid-column: 3;
}

.wte-topTools {
  grid-column: 4;
}

.wte-gallery {
  overflow-y: auto;
  max-height: 280px;
  min-height: 280px;
  background-color: #202020;
}

.wte-selectedProject {
  padding-top: 20px;
  padding-left: 30px;
}

.wte-toolBin {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.wte-worldView {
  width: 100%;
  grid-column: 1;
}
.wte-areaView {
  grid-column: 2;
  border-left: solid 1px black;
  background-color: #303030;
}
