.wtae-outer {
  padding: 8px;
  padding-top: 2px;
  width: 100%;
  min-height: 450px;
}
margin .wtae-gallery {
  overflow-y: auto;
  max-height: 280px;
  min-height: 280px;
  background-color: #202020;
}

.wtae-summaryArea {
  display: grid;
  background-color: #203020;
  grid-template-columns: 110px 1fr;
  vertical-align: top;
}

.wtae-summaryAreaTitle {
  grid-column: 1;
  padding-left: 4px;
  padding-top: 9px;
}

.wtae-summaryAreaForm {
  grid-column: 2;
}

.wtae-actionsArea {
  display: grid;
  background-color: #262626;
  padding: 4px;
  grid-template-columns: 160px 1fr;
}

.wtae-actionsAreaDropdown {
  grid-column: 1;
}

.wtae-actionsAreaToolbar {
  grid-column: 2;
}

.wtae-actionsArea .ui-dropdown__container {
  width: 160px !important;
}
