.lt-outer {
  margin-left: 17px;
  margin-top: 20px;
  width: 240px;
  height: 80px;
  background: #6b6562;
  display: inline-block;
}

.lt-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 84px;
  grid-template-rows: 0.5fr 0.5fr 48px;
}

.lt-mainArea {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px;
}

.lt-iconArea {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 10px;
}

.lt-descriptionArea {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 10px;
  padding-right: 10px;
}

.lt-mini-toolbar {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  vertical-align: middle;
  text-align: right;
  padding-top: 8px;
  background-color: #aba09c;
  padding-bottom: 8px;
}

.lt-mini-toolbar button {
  width: 30px;
  margin-left: 4px;
  margin-right: 10px;
}

.lt-title {
  font-weight: bold;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 140px;
  max-width: 140px;
  line-break: strict;
  word-break: keep-all;
  overflow-y: hidden;
  max-height: 64px;
}

.lt-outer-selected {
  border: solid 3px #242425;
}
