.rencoe-area {
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
  overflow-y: auto;
}

.rencoe-inline {
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
}

.rencoe-headerTransition {
  background-position-x: left;
  background-repeat: repeat-x;
  height: 40px;
}

.rencoe-header {
  font-size: 16pt;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 13px;
}

.rencoe-form {
  padding-top: 10px;
  padding-left: 20px;
}
