.wv-main {
  width: 100%;
  min-width: 300px;
  min-height: 300px;
  text-align: left;
}

.wv-detailsArea {
  width: 400px;
}

.wv-toolBar {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.wv-tools {
  grid-column: 1;
}

.wv-anchors {
  grid-column: 2;
}

.wv-mapOnly {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
  display: grid;
}

.wv-mapOnlyMap {
  grid-column: 1;
  grid-row: 1;
}

.wv-mapOnlyDetails {
  grid-column: 1;
  grid-row: 2;
}

.wv-viewOnRight {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 450px;
  grid-template-rows: 1fr 30px;
  display: grid;
}

.wv-viewOnRightMap {
  grid-column: 1;
  grid-row: 1;
}

.wv-viewOnRightView {
  grid-column: 2;
  grid-row: 1;
}

.wv-viewOnRightDetails {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

.wv-viewOnLeft {
  width: 100%;
  height: 100%;
  grid-template-columns: 450px 1fr;
  grid-template-rows: 1fr 30px;
  display: grid;
}

.wv-viewOnLeftMap {
  grid-column: 2;
  grid-row: 1;
}

.wv-viewOnLeftView {
  grid-column: 1;
  grid-row: 1;
}

.wv-viewOnLeftDetails {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

.wv-viewOnBottom {
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 400px 30px;
  display: grid;
}

.wv-viewOnBottomMap {
  grid-column: 1;
  grid-row: 1;
}

.wv-viewOnBottomView {
  grid-column: 1;
  grid-row: 2;
}

.wv-viewOnBottomDetails {
  grid-column: 1;
  grid-row: 3;
}
