.ase-outer {
  padding: 8px;
  padding-top: 2px;
  width: 100%;
  min-height: 450px;
}

.ase-header {
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ase-gallery {
  overflow-y: auto;
  max-height: 280px;
  min-height: 280px;
  background-color: #202020;
}

.ase-selectedProject {
  padding-top: 20px;
  padding-left: 30px;
}
