.asae-area {
  width: 100%;
  min-height: 40px;
  max-height: 180px;
  vertical-align: top;
  margin-bottom: 6px;
  background-color: #606060;
  border: solid 1px #404040;
  box-shadow: 2px 2px rgba(40, 40, 40, 0.4);
}

.asae-areaInner {
  display: grid;
  grid-template-columns: 1fr 20px;
}
.asae-actionsHeader {
  grid-column: 1;
  vertical-align: top;
  padding-top: 4px;
  padding-left: 4px;
  font-size: small;
}

.asae-actionsClose {
  grid-column: 2;
  vertical-align: top;
  padding-top: 2px;
}

.asae-actionsForm {
  vertical-align: top;
}
