.bioc-area {
  width: 100%;
  min-height: 200px;
  padding: 10px;
}

.bioc-form {
  width: 100%;
  min-height: 150px;
}

.bioc-form .ui-list {
  max-height: 300px;
  overflow-y: auto;
}

.bioc-form .ui-list__item {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bioc-form .ui-list__item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
