.btac-area {
  height: calc(100vh - 200px);
  padding-top: 8px;
}

.btac-mainArea {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.btac-list {
  max-height: calc(100vh - 280px);
  min-width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px;
}

.btac-description {
  grid-column: 2;
  padding: 8px;
}
