.cs-outer {
}

.cs-panelArea {
  padding-top: 20px;
}

.cs-header {
  font-size: 20pt;
  padding-top: 8px;
  padding-left: 30px;
  padding-bottom: 12px;
}

.cs-headerTransition {
  background-position-x: left;
  background-repeat: repeat-x;
  height: 40px;
}
