.etb-outer {
  display: block;
  background-color: #242425;
  border-left: solid 1px black;
  border-top: solid 1px black;
  border-right: solid 1px black;
}

.etb-grid {
  display: grid;
  grid-template-columns: 1fr 36px 36px 36px 36px 36px;
}

.etb-title {
  vertical-align: middle;
  padding: 8px;
  height: 40px;
}

.etb-titleInner {
  height: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: url(../images/mctoolstext_g.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.etb-titleInnerSm {
  height: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: url(../images/mcserver_g.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.etb-moveDraggable {
  -webkit-app-region: drag;
}

.etb-mmrCell {
  width: 36px;
  -webkit-app-region: no-drag;
  height: 36px;
  min-width: 36px;
  max-width: 36px;
  min-height: 36px;
  max-height: 36px;
  padding: 6px;
}

.etb-windowSide1 {
  grid-column: 2;
}

.etb-windowSide2 {
  grid-column: 3;
}

.etb-windowMode1 {
  grid-column: 4;
}

.etb-windowMode2 {
  grid-column: 5;
}

.etb-close {
  grid-column: 6;
}
