.etcse-area {
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  display: grid;
  max-width: 590px;
  grid-template-columns: 280px 1fr;
}

.etcse-area-narrow {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  max-width: 590px;
}

.etcse-header {
  font-size: 12pt;
  font-size: 17pt;
}

.etcse-note {
  padding: 8px;
  font-style: italic;
}

.etcse-componentForm {
  margin-bottom: 12px;
  padding: 3px;
  width: 100%;
  padding-left: 0px;
  display: inline-grid;
  min-height: 220px;
}

.etcse-componentWrapper {
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: small;
}

.etcse-componentWrapperInner {
  padding-top: 6px;
  padding-bottom: 6px;
}

.etcse-componentForm .ui-form__input {
  padding-top: 3px;
  margin-bottom: 4px;
}

.etcse-componentForm .ui-form__checkbox {
  padding-top: 3px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.etcse-componentForm .pu > :last-child {
  margin-top: 0px;
}

.etcse-componentForm .pt > :not(:last-child) {
  margin-bottom: 0px;
}

.etcse-componentHeader {
  padding-top: 20px;
  font-size: 11pt;
  padding-bottom: 14px;
}

.etcse-noeditor {
  padding: 10px;
}

.etcse-title {
  width: 200px;
}

.etcse-extraArea {
  margin-bottom: 5px;
}

.etcse-componentDropdown .ui-dropdown__container {
  width: 205px;
  margin: 4px;
}

.etcse-componentList {
  grid-column: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: solid 1px;
  border-bottom: solid 1px;
  border-top: solid 1px;
}

.etcse-componentList .ui-dropdown__container {
  width: 200px;
}

.etcse-componentList li {
  padding-left: 5px;
  padding-right: 2px;
}

.etcse-componentList .ui-list__itemcontent {
  margin-right: 3px;
}

.etcse-componentBin {
  padding: 4px;
  height: 100%;
  min-height: 200px;
  vertical-align: top;
  grid-column: 2;
  overflow-y: scroll;
  overflow-x: auto;
  border-right: solid 1px;
  border-bottom: solid 1px;
  border-top: solid 1px;
}

.etcse-componentBin-narrow {
  padding: 0px;
  padding-top: 8px;
  border-right: solid 0px;
  border-bottom: solid 0px;
  border-top: solid 0px;
}

.etcse-componentBin:first-child {
  margin-top: 1px;
}

.etcse-componentArea {
  display: grid;
  padding: 3px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 190px 1fr 100px;
}

.etcse-titleArea {
  grid-column: 2;
  grid-row: 1;
  padding-top: 5px;
}

.etcse-toolBarArea {
  grid-column: 3;
  grid-row: 1;
}

.etcse-extraArea {
  grid-column: 1;
  grid-row: 1;
  padding-left: 5px;
}

.etcse-loading {
  padding-left: 8px;
  padding-top: 8px;
}

/* Breadcrumb navigation styling */
.etcse-breadcrumb {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 10pt;
  border-bottom: 1px solid;
  margin-bottom: 4px;
  flex-wrap: wrap;
  gap: 2px;
}

.etcse-breadcrumbItem {
  padding: 3px 8px;
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out;
  white-space: nowrap;
}

.etcse-breadcrumbItem:hover {
  background-color: rgba(128, 128, 128, 0.15);
  cursor: pointer;
}

.etcse-breadcrumbSeparator {
  margin: 0 2px;
  opacity: 0.4;
  font-size: 8pt;
}

.etcse-breadcrumbCurrent {
  font-weight: 600;
  background-color: rgba(100, 149, 237, 0.15);
}

.etcse-breadcrumbCurrent:hover {
  background-color: rgba(100, 149, 237, 0.25);
}

/* Improved component list item hover states */
.etcse-componentList .ui-list__item {
  transition: background-color 0.15s ease-in-out, transform 0.1s ease-in-out;
  border-radius: 4px;
  margin: 2px 4px;
}

.etcse-componentList .ui-list__item:hover {
  background-color: rgba(128, 128, 128, 0.12);
  transform: translateX(2px);
}

.etcse-componentList .ui-list__item[aria-selected="true"] {
  background-color: rgba(100, 149, 237, 0.2);
  border-left: 3px solid cornflowerblue;
}
