.ead-area {
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
  overflow-y: auto;
  padding: 4px 20px 4px 20px;
}

.ead-n-area {
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
  overflow-y: auto;
  padding: 4px 4px 4px 4px;
}

.ead-areaNoScroll {
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
  padding: 4px 20px 4px 20px;
}

.ead-headerTransition {
  background-position-x: left;
  background-repeat: repeat-x;
  height: 40px;
}

.ead-header {
  padding-top: 15px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: large;
}

.ead-n-header {
  padding-top: 4px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: medium;
}

.ead-codeSnippet {
  background-color: black;
  font-family: "Consolas", "Courier New", Courier, monospace;
  padding: 3px;
  text-wrap: nowrap;
}

.ead-cgToggle {
  border: outset 1px;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  box-shadow: none !important;
  text-wrap: wrap;
  padding: 0px 8px 0px 2px !important;
}

.ead-addTriggerArea {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 100px 230px 1fr;
  margin-bottom: 10px;
}

.ead-n-addTriggerArea {
  margin-bottom: 10px;
}

.ead-addTriggerInstruction {
  grid-column: 1;
  padding-top: 6px;
}

.ead-addTriggerArea .ui-dropdown__container {
  width: 220px;
}

.ead-n-addTriggerArea .ui-dropdown__container {
  width: 220px;
}

.ead-addTriggerDropdown {
  grid-column: 2;
}

.ead-addTriggerButton {
  grid-column: 3;
}

.ead-cgAdd {
  background-color: green !important;
}

.ead-cgRemove {
  background-color: red !important;
}

.ead-icon {
  min-width: 18px;
  display: inline-block;
}

.ead-componentGroupsHeaderInfo {
  padding-bottom: 4px;
}

.ead-componentGroupsBin {
  padding: 4px;
  border: inset 1px;
}
.ead-triggerTitle {
  padding-bottom: 10px;
  padding-top: 15px;
  font-weight: bold;
}

.ead-actionsTitle {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}

.ead-instruction {
  padding-bottom: 4px;
}
