@media only screen and (min-width: 1316px) {
  .home-search-area {
    grid-column: 2;
    padding-top: 20px;
    padding-bottom: 16px;
  }
  .home-starterArea {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1316px) {
  .home-starterArea {
    padding-top: 20px;
    display: block;
  }
  .home-search-area {
    padding-top: 20px;
    padding-left: 32px;
  }
}

.home-dragOver {
  position: fixed;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  background-color: rgba(48, 96, 48, 0.9);
  border: solid 3px rgba(48, 96, 48, 1);
  vertical-align: middle;
  text-align: center;
  margin: 10px;
  z-index: 10000;
  opacity: 0.9;
}

.home-header-sublink {
  font-size: small;
  color: white;
}

.home-header-sublink A {
  font-size: small;
  color: white;
}

.home-areaLoading {
  padding: 20px;
}

.home-header-docsLink {
  color: white;
}

.home-layout {
  width: 100%;
  display: grid;
  grid-template-rows: 120px 1fr 30px 30px;
  grid-template-columns: 400px 1fr;
}

.home-error {
  background-color: #b07a14;
  padding: 10px;
  margin: 20px;
  word-break: break-all;
  text-overflow: ellipsis;
}

.home-gallery-interior .pg-outer {
  margin: 20px;
}

.home-header-area {
  vertical-align: middle;
  text-align: center;
  background-image: url(../images/bg-wool-dark.png);
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.home-header-image {
  background-image: url(../images/mctoolsbanner.png);
  display: inline-block;
  background-size: cover;
  width: 297px;
  height: 78px;
}

.home-header {
  font-size: 30pt;
  margin-top: 11px;
}

.home-gallery {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.home-gallery-interior {
  overflow-y: auto;
}

.home-dialog {
  height: 320px;
  display: grid;
  grid-template-rows: 50px 50px 50px 1fr;
  grid-template-columns: 140px 1fr;
  padding-bottom: 15px;
  padding-top: 20px;
}

.home-newCreator {
  grid-row: 1;
  grid-column: 1;
  padding-top: 5px;
}

.home-newCreatorInput {
  grid-row: 1;
  grid-column: 2;
}

.home-newName {
  grid-row: 2;
  grid-column: 1;
  padding-top: 5px;
}

.home-newNameInput {
  grid-row: 2;
  grid-column: 2;
}

.home-newShortName {
  grid-row: 3;
  grid-column: 1;
  padding-top: 5px;
}

.home-newShortNameInput {
  grid-row: 3;
  grid-column: 2;
}

.home-newFolder {
  padding-top: 35px;
  grid-row: 4;
  grid-column: 1;
}

.home-newPath {
  padding-top: 35px;
  grid-row: 4;
  grid-column: 2;
}

.home-projects-bin {
  grid-row: 2;
  min-width: 320px;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.home-projects {
  font-size: large;
  margin-top: 1px;
}

.home-recentItem {
  display: grid;
  height: 2.8rem;
  grid-template-columns: 244px 80px;
}

.home-recentItemLabel {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: clip;
  white-space: nowrap;
  max-width: 240px;
  font-size: small;
  grid-column: 1;
}

.home-recentItemModified {
  grid-column: 2;
  padding-top: 12px;
  font-size: small;
  padding-bottom: 12px;
}

.home-projects-note {
  font-size: x-small;
  margin-bottom: 10px;
}

.home-tools {
  font-size: large;
  margin-bottom: 3px;
}

.home-tools-bin {
  margin-top: 10px;
  margin-bottom: 23px;
}

.home-tools-wrap {
  margin-right: 4px;
}

.home-projects-list {
  overflow-y: scroll;
  margin-top: 8px;
}

.home-tools-export {
  padding-left: 14px;
}

.home-projects-list .ui-list__itemheader {
  white-space: nowrap;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.home-uploadButton {
  margin-top: 10px;
  margin-bottom: 20px;
}

.home-toolTile {
  opacity: 0.9;
  margin-left: 20px;
  margin-top: 10px;
  padding: 10px;
  height: 120px;
  display: inline-block;
  width: 320px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.2rem 0.4rem -0.075rem;
  border: solid 1px rgb(32, 33, 34);
}

.home-toolTile input[type="file"] {
  box-shadow: none;
  margin-left: 5px;
  border-color: rgb(72, 73, 74);
}

.home-toolTile-label {
  font-weight: bold;
  padding-bottom: 15px;
}

.home-clickLink {
  cursor: pointer;
  text-decoration: underline;
}

.home-uploadLabel {
  padding-top: 10px;
  padding-bottom: 4px;
}

.home-path {
  padding-bottom: 6px;
}

.home-usage {
  grid-row: 3;
  padding-left: 30px;
  padding-top: 7px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.home-legal {
  grid-row: 4;
  padding-left: 30px;
  padding-top: 2px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.home-projects-buttonbar {
  padding-top: 5px;
  margin-bottom: 20px;
}

.home-projects-bin BUTTON {
  min-width: 131px;
  max-width: 131px;
}

.home-gallery-label {
  font-size: large;
  grid-column: 1;
  padding-top: 21px;
  padding-left: 20px;
  user-select: none;
}
