@media only screen and (min-width: 1316px) {
  .home-search-area {
    grid-column: 2;
    padding-top: 20px;
    padding-bottom: 16px;
  }
  .home-starterArea {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1316px) and (min-width: 800px) {
  .home-starterArea {
    padding-top: 20px;
    display: block;
  }
  .home-search-area {
    padding-top: 20px;
    padding-left: 32px;
  }
}

@media only screen and (min-width: 800px) {
  .home-layout {
    width: 100%;
    display: grid;
    grid-template-rows: 120px 0.5fr 0.5fr 30px 30px;
    grid-template-columns: 400px 1fr;
    height: 100vh;
  }

  .home-header-area {
    border-bottom: inset 2px;
  }
  .home-header {
    border-bottom: outset 2px;
  }

  .home-usage {
    border-top: inset 2px;
  }
  .home-usage-interior {
    border-top: outset 2px;
  }
  .home-gallery {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .home-projects-bin {
    grid-row-start: 2;
    grid-row-end: 3;
    min-width: 320px;
    border-right: solid 1px black;
    padding: 10px 10px 10px 7px;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .home-gallery-interior {
    overflow-y: auto;
    border-left: solid 1px white;
    height: calc(100vh - 180px);
  }

  .home-projects-list {
    overflow-y: scroll;
    margin-top: 8px;
    height: calc(100vh - 380px);
  }
}

@media only screen and (max-width: 800px) {
  .home-starterArea {
    padding-top: 20px;
    display: block;
  }
  .home-search-area {
    padding-top: 20px;
    padding-left: 32px;
  }

  .home-layout {
    width: 100%;
    display: grid;
    grid-template-rows: 120px 266px 1fr 50px 50px;
    grid-template-columns: 1fr;
  }

  .home-projects-bin {
    grid-row: 2;
    min-width: 320px;
    grid-column: 1;
    height: 266px;
  }

  .home-projects-list {
    overflow-y: scroll;
    margin-top: 8px;
    height: 98px;
  }

  .home-gallery {
    grid-row: 3;
    grid-column: 1;
  }

  .home-gallery-interior {
    overflow-y: auto;
    height: calc(100vh - 486px);

    border: inset 4px;
  }
}

.home-dragOver {
  position: fixed;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  background-color: rgba(48, 96, 48, 0.9);
  border: solid 3px rgba(48, 96, 48, 1);
  vertical-align: middle;
  text-align: center;
  margin: 10px;
  z-index: 10000;
  opacity: 0.9;
}

.home-projects-buttonbar {
  padding-left: 10px;
}

.home-projects {
  padding-left: 10px;
}

.home-projects-note {
  padding-left: 10px;
}
.home-header-sublink {
  font-size: small;
  color: white;
}

.home-header-sublink A {
  font-size: small;
  color: white;
}

.home-areaLoading {
  padding: 20px;
}

.home-header-docsLink {
  color: white;
}

.home-error {
  background-color: #b07a14;
  padding: 10px;
  margin: 20px;
  word-break: break-all;
  text-overflow: ellipsis;
}

.home-header-area {
  vertical-align: middle;
  text-align: center;
  background-image: url(../images/bg-wool-dark.png);
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.home-header-image {
  background-image: url(../images/mctoolsbanner.png);
  display: inline-block;
  background-size: cover;
  width: 297px;
  height: 78px;
}

.home-header {
  font-size: 30pt;
  margin-top: 11px;
  height: 100%;
}

.home-dialog {
  height: 320px;
  display: grid;
  grid-template-rows: 50px 50px 50px 1fr;
  grid-template-columns: 140px 1fr;
  padding-bottom: 15px;
  padding-top: 20px;
}

.home-newCreator {
  grid-row: 1;
  grid-column: 1;
  padding-top: 5px;
}

.home-newCreatorInput {
  grid-row: 1;
  grid-column: 2;
}

.home-newName {
  grid-row: 2;
  grid-column: 1;
  padding-top: 5px;
}

.home-newNameInput {
  grid-row: 2;
  grid-column: 2;
}

.home-newShortName {
  grid-row: 3;
  grid-column: 1;
  padding-top: 5px;
}

.home-newShortNameInput {
  grid-row: 3;
  grid-column: 2;
}

.home-newFolder {
  padding-top: 35px;
  grid-row: 4;
  grid-column: 1;
}

.home-newPath {
  padding-top: 35px;
  grid-row: 4;
  grid-column: 2;
}

.home-projects {
  font-size: medium;
  margin-top: 1px;
}

.home-recentItem {
  display: grid;
  grid-template-columns: 244px 80px;
}

.home-recentItemLabel {
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
  overflow: clip;
  white-space: nowrap;
  max-width: 240px;
  font-size: small;
  grid-column: 1;
}

.home-recentItemModified {
  grid-column: 2;
  padding-top: 10px;
  font-size: small;
  padding-bottom: 8px;
}

.home-projects-note {
  font-size: x-small;
  margin-bottom: 13px;
}

.home-tools {
  font-size: large;
  margin-bottom: 3px;
}

.home-tools-bin-inner {
  padding-top: 2px;
  font-size: small;
}

.home-tools-wrap {
  margin-right: 4px;
}

.home-tools-export {
  padding-left: 14px;
}

.home-projects-list .ui-list__itemheader {
  white-space: nowrap;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.home-uploadButton {
  margin-bottom: 10px;
}

.home-uploadButton {
  font-size: medium;
}

.home-uploadButton INPUT {
  font-size: small;
}

.home-toolTile {
  height: 120px;
  display: inline-flex;
  margin-top: 10px;
  margin-left: 10px;
  width: 320px;
  opacity: 0.8;
  border: solid 1.5px black;
}

.home-toolTileInner {
  height: 100%;
  width: 100%;
  padding: 8px 10px 8px 10px;
  border: outset 3px;
}

.home-toolTile input[type="file"] {
  box-shadow: none;
  margin-left: 5px;
  font-weight: 600;
  border-color: rgb(72, 73, 74);
}

.home-toolTile-label {
  font-weight: bold;
  padding-bottom: 6px;
}

.home-toolTile-instruction {
  font-size: x-small;
  padding-bottom: 8px;
  height: 36px;
}

.home-toolTile-button {
  margin-left: 4px;
  height: 35px !important;
  border: solid 1px rgb(72, 73, 74) !important;
  box-shadow: none !important;
}

.home-clickLink {
  cursor: pointer;
  text-decoration: underline;
}

.home-uploadLabel {
  padding-top: 10px;
  padding-bottom: 4px;
}

.home-path {
  padding-bottom: 6px;
}

.home-usage {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.home-usage-interior {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
}

.home-legal {
  grid-row: 5;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 2px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.home-gallery-label {
  font-size: large;
  grid-column: 1;
  padding-top: 21px;
  padding-left: 10px;
  user-select: none;
}
