.hhdr {
  font-size: 30pt;
  height: 100%;
  border-bottom: outset 2px;
}

.hhdr-area {
  border-bottom: inset 2px;
  padding-bottom: 5px;
}

.hhdr-sublink {
  line-height: normal;
  padding-bottom: 10px;
  font-size: small;
  color: white;
  text-align: "right";
  vertical-align: middle;
  padding-right: 10px;
  padding-top: 18px;
  margin-left: auto;
}

.hhdr-sublink A {
  font-size: small;
  color: white;
}

.hhdr-docsLink {
  color: white;
  background-color: transparent;
  border: 0px;
  text-decoration: underline;
  padding-right: 0px;
}

.hhdr-textArea {
  padding-left: 6px;
}

.hhdr-area {
  vertical-align: middle;
  text-align: center;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.hhdr-image-outer {
  display: inline-block;
  margin: 0px;
  padding-left: 10px;
  background-size: cover;
}

.hhdr-image {
  width: 192px;
  max-width: 45vw;
  padding-top: 18px;
  padding-right: 10px;
}
