.ie-outer {
  image-rendering: pixelated;
}

.ie-toolBar {
  padding-left: 80px;
}

.ie-image {
  padding: 6px;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: contain;
}

.ie-float {
  position: absolute;
  margin: 8px;
  z-index: 100;
}

.ie-float BUTTON {
  padding-left: 0px;
  padding-right: 0px;
  width: 36px;
  min-width: inherit;
}
