@media only screen and (min-width: 800px) {
  .ifu-outer {
    min-width: 100%;
    max-width: 100%;
    min-height: calc(100vh);
    max-height: calc(100vh);
    display: grid;
    grid-template-rows: 96px 1fr 54px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .ifu-outer {
    min-width: 100%;
    max-width: 100%;
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    display: grid;
    grid-template-rows: 96px 1fr 54px;
    padding-bottom: 10px;
  }
}

.ifu-loading {
  padding-top: 20px;
}

.ifu-header {
  height: 100%;
  border-bottom: outset 2px;
}

.ifu-header {
  grid-row: 1;
}

.ifu-main {
  grid-row: 2;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
}

.ifu-footer {
  grid-row: 3;
  width: 100%;
  line-height: normal;
}

.ifu-warning {
  padding: 10px;
  display: grid;
  padding-top: 17px;
  grid-template-columns: 30px 1fr;
}

.ifu-warningIcon {
  grid-column: 1;
}

.ifu-warningText {
  grid-column: 2;
}

.ifu-buttonBar {
  padding-top: 20px;
  text-align: right;
}

.ifu-button {
  margin-left: 10px;
}
