.itae-area {
  width: calc(100% - 2px);
  min-width: calc(100% - 2px);
  max-width: calc(100% - 2px);
}

.itae-toolBarArea {
  padding: 5px;
  padding-left: 3px;
  display: grid;
  grid-template-columns: 120px 1fr;
}

.itae-dropdown {
  grid-column: 2;
}

.itae-tools {
  grid-column: 1;
}

.itae-error {
  padding: 8px;
}
