.itac-area {
  height: 500px;
}

.itac-list {
  max-height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px;
}

.itac-description {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  padding-top: 10px;
}
