.mima-outer {
  padding: 10px;
}

.mima-header {
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 16px;
}

.mima-content {
  max-width: 700px;
}

.mima-contentCompact {
  padding-top: 10px;
  padding-bottom: 30px;
  overflow-y: auto;
}

.mima-intro {
  margin-bottom: 30px;
}

.mima-hostedText {
  margin-bottom: 30px;
}

.mima-optionHeader {
  font-weight: bold;
}

.mima-minecraftGameText {
  margin-bottom: 30px;
}

.mima-nextButtonArea {
  margin-top: 20px;
}

.mima-remoteText {
  vertical-align: middle;
}

.mima-link {
  display: inline;
  text-decoration: none;
}

.mima-link:hover {
  display: inline;
  text-decoration: underline;
}

.mima-code {
  display: inline;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #303030;
  padding-left: 4px;
  padding-right: 4px;
}
