.pie-outer {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}

.pie-loadingLabel {
  padding: 10px;
}

.pie-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 36px 1fr;
}

.pie-variantView {
  grid-row: 1;
  grid-column: 1;
  padding-top: 1px;
  padding-left: 2px;
}

.pie-viewTabs {
  grid-row: 1;
  grid-column: 2;
  padding-top: 5px;
}

.pie-interior {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.pie-variantView .ui-dropdown__container {
  width: 220px !important;
}
