.pil-outer {
  border-top: inset 2px;
  border-bottom: inset 2px;
}

.pil-wrap {
  border-top: outset 2px;
  border-bottom: outset 2px;
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 46px 1fr;
}

.pil-newarea {
  grid-column: 1;
  grid-row: 1;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 10px;
}

.pil-previewImage {
  height: 40px;
  grid-column: 1;
}

.pil-commands {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  max-width: 140px;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 8px;
}

.pil-list {
  grid-column-start: 1;
  grid-column-end: 3;
  overflow-y: auto;
  overflow-x: hidden;
}

.pil-fixedLine {
  padding-left: 17px;
  height: 32px;
  padding-top: 6px;
}

.pil-fixedLineRow {
  height: 32px;
  display: grid;
  grid-template-columns: 1fr 32px;
}

.pil-list LI * {
  margin-right: 0px;
}

.pil-list UL LI {
  padding-left: 0px;
  min-height: auto;
  padding-right: 0px;
}

.pil-item {
  display: grid;
  height: 36px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  grid-template-columns: 10px 1fr 30px 30px;
  font-size: 0.875rem;
}

.pil-itemTypeHeader {
  display: grid;
  height: 36px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  grid-template-columns: 24px 1fr 38px;
  font-size: 0.875rem;
}

.pil-pathHeader {
  display: grid;
  height: 36px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  grid-template-columns: 10px 20px 25px 1fr;
  font-size: 0.875rem;
}

.pil-itemTypeCollapsedToggle {
  grid-column: 1;
  padding: 8px;
}

.pil-headerLabel {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-template-columns: 1fr 80px;
  text-overflow: ellipsis;
  display: grid;
}

.pil-storagePathCollapsedToggle {
  grid-column: 2;
  padding: 8px;
}

.pil-storagePathIcon {
  grid-column: 3;
  padding-top: 8px;
  padding-left: 6px;
}

.pil-storagePathLabel {
  grid-column: 4;
  text-overflow: ellipsis;
}

.pil-itemTypeTag {
  grid-column: 1;
}

.pil-itemLabel {
  text-overflow: ellipsis;
  padding-left: 6px;
  padding-top: 1px;
}

.pil-itemIndicatorRO {
  border: solid 0px;
  max-width: 28px;
  min-width: 28px;
  grid-column: 4;
  line-height: 1;
  text-align: center;
  padding: 8px 2px 0px 1px;
  margin: 3px 0px 0px 1px;
  min-height: 30px;
  max-height: 30px;
  padding-bottom: 12px;
  box-shadow: none;
  vertical-align: middle;
  background-color: green;
  text-align: center;
}

.pil-itemIndicator button {
  border: solid 0px;
  max-width: 28px;
  min-width: 28px;
  grid-column: 4;
  line-height: 1;
  text-align: center;
  padding: 8px 2px 0px 1px;
  margin: 3px 0px 0px 1px;
  min-height: 30px;
  max-height: 30px;
  padding-bottom: 12px;
  box-shadow: none;
  vertical-align: middle;
  background-color: green;
  text-align: center;
}

.pil-contextMenuButton button {
  border: solid 0px;
  max-width: 26px;
  min-width: 26px;
  grid-column: 3;
  line-height: 1;
  text-align: center;
  padding: 4px 2px 0px 1px;
  margin: 3px 0px 0px 2px;
  min-height: 30px;
  max-height: 30px;
  padding-bottom: 12px;
  box-shadow: none;
}

.pil-cmbUnfocused button {
  opacity: 0;
}

.pil-contextMenuButton button:hover {
  opacity: 1;
}

.pil-contextMenuButton button:focus {
  opacity: 1;
}

.pil-stats {
  grid-column: 2;
  text-align: right;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-wrap: nowrap;
}

.pil-projectName {
  overflow-x: hidden;
  width: 100%;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6x;
  margin-right: 2px;
  text-overflow: clip;
  grid-column: 1;
  z-index: 90;
  display: block;
  white-space: nowrap;
}

.pil-projectIcon {
  min-height: 32px;
  max-height: 32px;
  min-width: 32px;
  max-width: 32px;
  grid-column: 2;
  background-size: cover;
}

.pil-name {
  overflow-x: hidden;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 2px;
  text-overflow: clip;
  grid-column: 1;
  z-index: 90;
  display: block;
  white-space: nowrap;
}

.pil-name-gh {
  padding-left: 20px;
}

.pil-typetag {
  font-size: x-small;
  text-transform: uppercase;
  border: solid 1px gray;
  border-radius: 2px;
  white-space: nowrap;
  float: right;
  top: 9px;
  left: 186px;
  background-color: rgba(120, 120, 120);
  position: absolute;
  text-align: center;
  min-width: 66px;
  margin-right: 4px;
  padding: 3px 1px 3px 1px;
  z-index: 100;
  line-height: 1;
}

.pil-dialog {
  min-height: 90px;
  margin-top: 20px;
  vertical-align: top;
}

.pil-extension {
  padding-left: 8px;
}
