@media only screen and (min-width: 800px) {
  .pg-binWrap {
    margin: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-top: solid 0px;
  }

  .pg-tabArea {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .pg-binWrap {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: solid 0px;
    border-right: solid 0px;
    border-bottom: solid 1px;
    border-top: solid 0px;
    text-align: center;
  }

  .pg-binWrap-small {
    border-top: solid 1px;
  }

  .pg-tabArea {
    display: block;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-left: 4px;
  }
}

.pg-binWrap-empty {
  padding: 4px 10px 10px 10px;
}

.pg-outer {
  padding-bottom: 10px;
}

.pg-notFound {
  padding-top: 6px;
}

.pg-tabButton-selected {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  display: inline-block;
  height: 42px;
  padding: 10px 20px 10px 20px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  margin: 0px;
}

.pg-tabButton {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  display: inline-block;
  height: 42px;
  padding: 10px 20px 10px 20px;
  margin: 0px;
}

.pg-tabsTop {
  width: 100%;
  display: grid;
  margin-right: 28px;
  grid-template-columns: 376px 1fr;
}

.pg-underline {
  display: inline-block;
  height: 32.5px;
  width: 6px;
  grid-column: 1;
  border-bottom: solid 1px;
}

.pg-tabsFiller {
  display: inline-block;
  height: 51px;
  margin-right: 10px;
  grid-column: 2;
  border-bottom: solid 1px;
}
