.rssp-outer {
  padding: 10px;
}

.rssp-header {
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 16px;
}

.rssp-namelabel {
  grid-row: 1;
  grid-column: 1;
}

.rssp-pclabel {
  grid-row: 2;
  grid-column: 1;
}

.rssp-portlabel {
  grid-row: 4;
  grid-column: 1;
}

.rssp-grid {
  display: grid;
  grid-template-columns: 180px 1fr;
}

.rssp-serverStatus {
  display: inline-block;
  padding-left: 10px;
  position: relative;
  top: 2px;
}

.rssp-serverStatusCompact {
  padding-top: 10px;
  height: 40px;
  padding-bottom: 60px;
  max-width: 260px;
  word-wrap: normal;
}

.rssp-gridCompact {
  padding-top: 10px;
  padding-bottom: 30px;
  overflow-y: auto;
}

.rssp-passwordMessage {
  padding-top: 10px;
  max-width: 260px;
}

.rssp-label {
  padding-left: 2px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.rssp-nameinput {
  grid-row: 1;
  grid-column: 2;
  padding-bottom: 20px;
  text-align: left;
}

.rssp-nameinput button {
  margin-left: 4px;
}

.rssp-nameinput input {
  width: 260px;
}

.rssp-pcinput {
  grid-row: 2;
  grid-column: 2;
  padding-bottom: 20px;
  text-align: left;
}

.rssp-pcinput button {
  margin-left: 4px;
}

.rssp-pcinput input {
  width: 110px;
}

.rssp-testConnect {
  grid-row: 3;
  grid-column: 2;
  padding-bottom: 20px;
  text-align: left;
}

.rssp-portinput .ui-dropdown__container {
  width: 260px !important;
}

.rssp-portinput button {
  text-align: left;
}

.rssp-portinput {
  grid-row: 4;
  grid-column: 2;
  padding-bottom: 20px;
}

.rssp-portinput button {
  margin-left: 4px;
  display: inline-block;
}

.rssp-portinput input {
  width: 120px;
}
