@media only screen and (min-width: 916px) {
  .wms-projectUses {
    display: grid;
    grid-template-columns: 188px 1fr;
  }
}

@media only screen and (max-width: 915px) {
  .wms-projectUses {
    display: grid;
    grid-template-columns: 34px 1fr;
  }
}

.wms-outer {
  padding: 10px;
}

.wms-header {
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 6px;
}

.wms-defaultLabel {
  padding-bottom: 10px;
  font-weight: 600;
}

.wms-areasCompact {
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 30px;
  overflow-y: auto;
}

.wms-projectUsesCheck {
  grid-column: 1;
  text-align: right;
}

.wms-projectUsesLabel {
  grid-column: 2;
  padding-top: 3px;
}

.wms-settingsArea {
  padding-top: 20px;
}
