.df-formArea .ms {
  margin-bottom: 0px !important;
}

.df-form > div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.df-form TEXTAREA {
  min-width: 320px;
  max-width: calc(100vw - 30px);
  min-height: 100px;
  line-height: normal;
  padding: 5px;
  padding-left: 8px;
}

.df-outer {
  padding: 2px;
  vertical-align: top;
}

.df-wrapper {
  margin: 6px 8px 0px 8px;
}

.df-headerOuter {
  display: grid;
  grid-template-columns: 1fr 30px;
}

.df-closeArea {
  grid-column: 2;
}

.df-headerTitle {
  font-size: 14pt;
  grid-column: 1;
}

.df-headerSubTitle {
  font-size: 12pt;
  grid-column: 1;
}

.df-subHeaderTitle {
  font-size: 12pt;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  grid-column: 1;
}

.df-subHeaderSubTitle {
  font-size: 10pt;
  grid-column: 1;
}

.df-fieldDescription {
  font-size: small;
  padding-bottom: 2px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 2px;
  padding-left: 90px;
}

.df-fieldTitle {
  padding-bottom: 0px !important;
  margin-bottom: 3px !important;
}

.df-fieldWrap {
  padding-bottom: 8px;
}

.df-fieldWrap .ui-form__checkbox {
  padding-left: 35px;
}

.df-fieldWrap .ui-form__label {
  padding-bottom: 2px;
  display: inline-block !important;
  min-width: 90px;
}
.df-fieldWrap .ui-dropdown {
  display: inline-block;
}
.df-fieldWrap .ui-dropdown__container {
  width: 235px;
}

.df-cardWrapper {
  padding: 5px 10px 10px 10px;
  border: solid 1px black;
  margin-bottom: 4px;
  margin-top: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.2rem 0.4rem -0.075rem;
}

.df-description {
  font-size: 10pt;
}

.df-sliderSet {
  display: grid;
  grid-template-columns: 180px 80px;
}

.df-elementTitle {
  padding-bottom: 3px;
}

.df-elementTitleInvalid {
  color: red;
}

.df-sliderTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  padding-top: 3px;
  padding-bottom: 3px;
}

.df-sliderInput {
  grid-column: 2;
  grid-row: 2;
  padding-top: 3px;
  padding-bottom: 3px;
}

.df-slider {
  grid-column: 1;
  grid-row: 2;
  padding: 3px;
  padding-left: 10px;
  padding-top: 11px;
}

.df-ro-row {
  display: table-row;
}

.df-ro-title {
  display: table-cell;
  padding-left: 1px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  font-weight: bold;
}

.df-ro-value {
  display: table-cell;
  padding: 4px;
}

.df-ro-table {
  display: table;
}
