.wbsrv-outer {
  min-width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 36px);
  max-height: calc(100vh - 36px);
  display: grid;
  grid-template-rows: 1fr;
}

.wbsrv-actionsHeader {
  background-color: #242425;
  color: white;
  display: grid;
  font-size: 12pt;
  padding: 8px;
  text-align: left;
}

.wbsrv-settingsArea {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

.wbsrv-area {
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  margin-left: 0px;
  margin-top: 0px;
  text-align: left;
  vertical-align: middle;
}

.wbsrv-motd {
  font-size: larger;
  text-align: left;
  padding-left: 16px;
}

.wbsrv-topTools {
  display: inline-block;
  grid-column: 1;
  padding-top: 2px;
}

.wbsrv-title {
  grid-column: 1;
  padding-top: 4px;
  display: inline-block;
}

.wbsrv-selectedProject {
  padding-top: 20px;
  padding-left: 30px;
}

.wbsrv-optionsGrid {
  display: grid;
  height: 330px;
}

.wbsrv-type-label {
  grid-row: 1;
  grid-column: 1;
  user-select: none;
}

.wbsrv-type-options {
  padding-bottom: 18px;
}

.wbsrv-buttonArea button {
  margin-left: 10px;
}
